Questions
Send Feedback
In this section, you need to try to find out answer to the given questions using the solutions you have done in Case Study (part 1) or you might need to write code to find the answers.
Find out answer for each question, put your answer along with the proper explanation and plots in pdf file. Upload a zip file containing your code and pdf.
Your code will be evaluated manually and score will be awarded accordingly.

## Case Study : Questions

### Question1

Your Friend has developed the Product and he wants to establish the product startup and he is searching for a perfect location where getting the investment has a high chance. But due to its financial restriction, he can choose only between three locations -  Bangalore, Mumbai, and NCR. As a friend, you want to help your friend deciding the location. NCR include Gurgaon, Noida and New Delhi. Find the location where the most number of funding is done. That means, find the location where startups has received funding maximum number of times. Plot the bar graph between location and number of funding. Take city name "Delhi" as "New Delhi". Check the case-sensitiveness of cities also. That means, at some place instead of "Bangalore", "bangalore" is given. Take city name as "Bangalore". For few startups multiple locations are given, one Indian and one Foreign. Consider the startup if any one of the city lies in given locations.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

#Reading the dataset
df_ = pd.read_csv('Dataset/startup_funding.csv',encoding = 'utf-8')
df_['CityLocation'].dropna(inplace=True)

#Creating function to separate city out of CityLocation Column and stripping it for any spaces
def separateCity(city):
    return city.split('/')[0].strip()

df_['CityLocation'] = df_['CityLocation'].apply(separateCity)

#Replacing city names to take care of case sensitiveness
df_['CityLocation'].replace("Delhi","New Delhi",inplace = True)
df_['CityLocation'].replace("bangalore","Bangalore",inplace = True)

#Selecting ti
freq = df_['CityLocation'].value_counts()[0:10]

citi = freq.index
fundCity = freq.values

plt.bar(citi,fundCity)
plt.xticks(rotation = 40)


for i in range(len(citi)):
        print(citi[i],fundCity[i])

NCR which combines New Delhi, Noida and Gurgaon received funding (389 + 241 + 79) = 709 times whereas second highest no of fundings is received in Bangalore 635 times. So clearly my friends need to go for his startup in NCR region.

### Question 2

Even after trying for so many times, your friend’s startup could not find the investment. So you decided to take this matter in your hand and try to find the list of investors who probably can invest in your friend’s startup. Your list will increase the chance of your friend startup getting some initial investment by contacting these investors. Find the top 5 investors who have invested maximum number of times (consider repeat investments in one company also). In a startup, multiple investors might have invested. So consider each investor for that startup. Ignore undisclosed investors.

In [ ]:
import pandas as pd
import numpy as np

#importing nlargest library from heapq to get top elements in dictionary
from heapq import nlargest

#reading the data from the dataset
df = pd.read_csv('Dataset/startup_funding.csv',encoding='utf-8')

#dropping NAN values
df.InvestorsName.dropna(inplace=True)

#Empty dictionary to store the occurance of each of the investors
di ={}

#looping through the InvestorsName column and splitting each of them to get the count of each investor
for i in df['InvestorsName']:
    string = str(i).strip()
    line = string.split(',')
    for j in range(len(line)):
        di[line[j].strip()] = di.get(line[j].strip(),0) + 1 
        
#getting the top 5 investors  
top_five = nlargest(5, di, key=di.get)
for i in range(len(top_five)):
    print(top_five[i])

The list of investors to whom we should reach now for funding are :
Sequoia Capital
Accel Partners
Kalaari Capital
SAIF Partners
Indian Angel Network

### Question 3

After re-analysing the dataset you found out that some investors have invested in the same startup at different number of funding rounds. So before finalising the previous list, you want to improvise it by finding the top 5 investors who have invested in different number of startups. This list will be more helpful than your previous list in finding the investment for your friend startup. Find the top 5 investors who have invested maximum number of times in different companies. That means, if one investor has invested multiple times in one startup, count one for that company. There are many errors in startup names. Ignore correcting all, just handle the important ones - Ola, Flipkart, Oyo and Paytm.

In [5]:
import pandas as pd
import numpy as np

#importing nlargest library from heapq to get top elements in dictionary
from heapq import nlargest

#reading the data from the dataset
df2 = pd.read_csv('Dataset/startup_funding.csv',encoding='utf-8')


#correcting the startup names
df2.StartupName.replace('Flipkart.com','Flipkart',inplace=True)
df2.StartupName.replace('Ola Cabs','Ola',inplace=True)
df2.StartupName.replace('Olacabs','Ola',inplace=True)
df2.StartupName.replace('Oyo Rooms','Oyo',inplace=True)
df2.StartupName.replace('OyoRooms','Oyo',inplace=True)
df2.StartupName.replace('Oyorooms','Oyo',inplace=True)
df2.StartupName.replace('OYO Rooms','Oyo',inplace=True)
df2.StartupName.replace('Paytm Marketplace','Paytm',inplace=True)

df2

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks,invest_startup
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN,TouchKin||Kae Capital
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN,Ethinos||Triton Investment Advisors
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN,"Leverage Edu||Kashyap Deorah, Anand Sankeshwar..."
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN,"Zepo||Kunal Shah, LetsVenture, Anupam Mittal, ..."
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN,"Click2Clinic||Narottam Thudi, Shireesh Palle"
...,...,...,...,...,...,...,...,...,...,...,...
2367,2367,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN,Printvenue||Asia Pacific Internet Group
2368,2368,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund,Graphene||KARSEMVEN Fund
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN,"Mad Street Den||Exfinity Fund, GrowX Ventures."
2370,2370,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake",Simplotel||MakeMyTrip
2371,2371,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN,couponmachine.in||UK based Group of Angel Inve...

### Question 4

Even after putting so much effort in finding the probable investors, it didn't turn out to be helpful for your friend. So you went to your investor friend to understand the situation better and your investor friend explained to you about the different Investment Types and their features. This new information will be helpful in finding the right investor. Since your friend startup is at an early stage startup, the best-suited investment type would be - Seed Funding and Crowdfunding. Find the top 5 investors who have invested in a different number of startups and their investment type is Crowdfunding or Seed Funding. Correct spelling of investment types are - "Private Equity", "Seed Funding", "Debt Funding", and "Crowd Funding". Keep an eye for any spelling mistake. You can find this by printing unique values from this column. There are many errors in startup names. Ignore correcting all, just handle the important ones - Ola, Flipkart, Oyo and Paytm.

### Question 5

Due to your immense help, your friend startup successfully got seed funding and it is on the operational mode. Now your friend wants to expand his startup and he is looking for new investors for his startup. Now you again come as a saviour to help your friend and want to create a list of probable new new investors. Before moving forward you remember your investor friend advice that finding the investors by analysing the investment type. Since your friend startup is not in early phase it is in growth stage so the best-suited investment type is Private Equity. Find the top 5 investors who have invested in a different number of startups and their investment type is Private Equity. Correct spelling of investment types are - "Private Equity", "Seed Funding", "Debt Funding", and "Crowd Funding". Keep an eye for any spelling mistake. You can find this by printing unique values from this column.There are many errors in startup names. Ignore correcting all, just handle the important ones - Ola, Flipkart, Oyo and Paytm.

Your project will be evaluated on following parameters -
Answer correctness (Max Score 10)
Justification (Max Score 20)
Plots and graphs (Max Score 20)