# Pandas

**Pandas is very very helful in case of data manipulation**

In [2]:
import pandas as pd

In [3]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris
#here there are 150 rows but it is still showing it as 149 rows as it has taken first row bydefault as header

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [4]:
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

**iris is a dataframe object**

**Dataframe is like 2d table with rows and columns**

Why is Panda Package used
Send Feedback
Why is Panda Package used in python ?

Options

Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.

It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python.

All of the above

Ans : All of the above

Pandas is well suited for
Send Feedback
Pandas is well suited for many different kinds of data:

Options

Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet

Ordered and unordered time series data

Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels

All of above

All of the above

In [5]:
## taking the copy of iris dataframe
df = iris.copy()

# head() this function gives top elements where you can provide no of records as argument

In [6]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [7]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [9]:
print(df.shape)

(149, 5)

## dtypes feature of Dataframe

In [11]:
print(df.dtypes)

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

**if you see above the column name doesn't seem to be ok, lets change that**

In [12]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [14]:
##lets set the columns to different meaningful name
df.columns = ['sl','sw','pl','pw','flower_type']

In [15]:
print(df.shape)
print(df.dtypes)

(149, 5)
sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

## describe() function

In [16]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

**Count shows valid no of values in each columns means non (NAN) values**

**command to access the particluar colum only: data_frame_object.column_name or data_frame_object[column_name]**

In [17]:
df.sl

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [18]:
df['sl']

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

## isnull() function

In [19]:
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [20]:
df.isnull().sum() ## this will give the total number of null values in each column

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

**Slicing in dataframe using function iloc()**

In [21]:
df.iloc[1:4,2:3]

    pl
1  1.3
2  1.5
3  1.4

In [22]:
#we can't directly do slicing on dataframe object
df[1:4,2:3]

TypeError: '(slice(1, 4, None), slice(2, 3, None))' is an invalid key

In [23]:
df.iloc[1:4,2:4]

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

Pick Correct Statement
Send Feedback
What all statements are true:

Options

Scikit focus on modeling data.

Scikit not focused on loading, manipulating and summarizing data.

NumPy and Pandas are used for loading, manipulating and summarizing data features.

All of above

Answer : ALL of above

Iris DataFrame
Send Feedback
Consider below code
    import pandas as pd     
    iris=pd.read_csv(“https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data”)
    df = iris
Any changes done in df will reflect in iris

Options

true 

false

Correct Answer : true
Solution Description
df = iris make both df and iris point to the same object, hence any changes done by df will reflect.

Iris Dataset Copy
Send Feedback
Consider below code:
import pandas as pd     
iris=pd.read_csv(“https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data”)
df = iris.copy()
Changes via df will reflect in iris.

Options

true

false

false
Solution Description
###### df = iris.copy() make a copy of iris, hence any changes done by df will not reflect in iris.

Iris Dataframe Count Null Entries
Send Feedback
Consider below code:
import pandas as pd   
iris=pd.read_csv(“https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data”)
Pick the correct option to summarize how many null entry in each column

Options

iris.isnull()

iris.sum()

iris.isnull().sum()

iris.isnull().sum()