In [8]:
import pandas as pd

In [9]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df = iris.copy()

In [10]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

**on the top it is header and on left these are labels**

## drop() function : drops the element by its label

In [11]:
df.drop(0)
df.columns = ['sl','sw','pl','pw','flower_type']
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

**we see that there is no change even after 0th row is reduced, It is because it doesn't happens inplace so it creates a copy and remove the row there**

In [12]:
a = df.drop(0)
a.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

**if we want to do the change inplace we can use inplace argument**

In [13]:
print(df)
df.drop(0,inplace = True)

df.head()
print(df)

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]
      sl   sw   pl   pw     flower_type
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[148 rows x 5 columns]

In [14]:
df.drop(0,inplace = True)

df.head()
print(df)

KeyError: '[0] not found in axis'

**when we drop the element using drop we are not passing the position but label,and label 0 is not available now so we are getting the error**

In [15]:
df.drop(3,inplace = True)

df.head()
print(df)

      sl   sw   pl   pw     flower_type
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

**the way we were able to access the particular column of data frame we can also look at all the labels using index properties**

In [16]:
df.index ## we see that 0 and 3 labels are missing now as we dropped them earlier

Int64Index([  1,   2,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=147)

**if we want to take the label of element at nth position we can use the below command**

In [18]:
df.index[0],df.index[1],df.index[3]

(1, 2, 5)

## Dropping inplace with position in dataframe

In [19]:
print(df)
df.drop(df.index[0],inplace = True)
print(df)

      sl   sw   pl   pw     flower_type
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]
      sl   sw   pl   pw     flower_type
2    4.6  3.1  1.5  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[146 rows x 5 columns]

**If we need to drop multiple elements**

In [21]:
#so to remove more than 1 we will pass the list of positions to the index function
df.drop(df.index[[1,5]],inplace = True)
print(df)

      sl   sw   pl   pw     flower_type
2    4.6  3.1  1.5  0.2     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[144 rows x 5 columns]

In [23]:
df.sl > 5

2      False
5      False
6      False
7      False
9       True
       ...
144     True
145     True
146     True
147     True
148     True
Name: sl, Length: 144, dtype: bool

In [24]:
df[df.sl > 5]

      sl   sw   pl   pw     flower_type
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[116 rows x 5 columns]

In [25]:
df[df.flower_type == 'Iris-setosa'].describe()

              sl         sw         pl         pw
count  44.000000  44.000000  44.000000  44.000000
mean    5.006818   3.422727   1.465909   0.247727
std     0.367517   0.389313   0.179071   0.108881
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.175000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

## loc() vs iloc()

In [27]:
c1 = df[df.flower_type == 'Iris-setosa']
print(df.head())
print(df.iloc[0])
#print(df.loc[0]) #this gives data based on label not position
print(df.loc[7])

    sl   sw   pl   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa
sl                     4.6
sw                     3.1
pl                     1.5
pw                     0.2
flower_type    Iris-setosa
Name: 2, dtype: object
sl                     4.4
sw                     2.9
pl                     1.4
pw                     0.2
flower_type    Iris-setosa
Name: 7, dtype: object

**Adding a row in data frame**

In [30]:
df.loc[0] = [1,2,3,4,"Iris-setosa"]
df.head()

    sl   sw   pl   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

In [31]:
df.tail()

      sl   sw   pl   pw     flower_type
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa

DataFrame Drop Method
Send Feedback
Consider below code:
import pandas as pd   
iris=pd.read_csv(“https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data”)
iris.drop(0)
print(iris)
Above code will result in -

Options

Dropping of row at 0 position in iris dataframe

Dropping of row with 0 label in iris dataframe

No changes in iris dataframe

No changes in iris dataframe

Pandas DataFrame drop Method
Send Feedback
Consider below code:
import pandas as pd   
iris=pd.read_csv(“https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data”)
iris.drop(0, inplace = True)
drop method in above code makes which one of the following changes in iris dataframe

Options

Delete one row in iris dataframe itself

No change in iris dataframe

Delete one col in iris dataframe

Delete one row in iris dataframe itself

DataFrame Drop Method
Send Feedback
Consider below code:
import pandas as pd   
iris=pd.read_csv(“https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data”)
iris.drop(0,inplace= True)
iris.drop(0,inplace= True)
print(iris)
what will be the output -

Options

Error

It will delete first 2 rows

It will delete 2 columns

Solution Description
Row with label 0 got deleted in first drop method call so it will fail in calling drop method again on same label.

Count of Flower
Send Feedback
Problem Statement
Find and print count of each kind of flower (separated by space)?
Note: Get the dataset from ''https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data''.
Feature Name are SepalLength,SepalWidth PetalLength, PetalWidth and Species
Print the count as Integer Value.
Output Format
count1 count2 count3 .....

In [44]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header =None)
arr = np.array(df)

np_col = arr[:,4]

np_dist,np_count = np.unique(np_col,return_counts = True)
np_dist
np_count
#np_count[0] = 50
for i in np_count:
    print(i,end = ' ')

50 50 50

## ignoring the header if its data

**You can ignore the header by setting the header = None**

Iris Virginica
Send Feedback
Problem Statement
Find the data of flower “Iris-virginica” type where petal-length > 1.5?
Note: Get the dataset from ''https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data''.
Feature Name are SepalLength,SepalWidth PetalLength, PetalWidth and Species
Print the all the feature values.
Output Format
feature1 feature2 feature3 feature4 feature5
feature1 feature2 feature3 feature4 feature5
feature1 feature2 feature3 feature4 feature5
feature1 feature2 feature3 feature4 feature5
. . .
. . .
. . .

In [60]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header = None)

df.columns = ['sl','sw','pl','pw','sp']
df = df[df['sp'] == 'Iris-virginica']
df = df[df['pl'] > 1.5]
sl = df['sl']
sw = df['sw']
pl = df['pl']
pw = df['pw']
sp = df['sp']

n_sl = np.array(sl)
n_sw = np.array(sw)
n_pl = np.array(pl)
n_pw = np.array(pw)
n_sp = np.array(sp)

for i in range(n_sl.size):
    print(n_sl[i],n_sw[i],n_pl[i],n_pw[i],n_sp[i])

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica